<nav class="navbar is-fixed-top is-spaced" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

      <a class="navbar-item" href="/">
        <img src="/images/logo_text.svg" width="122">
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-weight-bold <%= baseUrl === '' ? 'is-active' : '' %>" href="/">
          Home
        </a>
        <a class="navbar-item has-text-weight-bold <%= baseUrl === '/events' ? 'is-active' : '' %>" href="/events">
          Events
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-primary is-outlined">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar is-fixed-bottom is-hidden-desktop">
  <div class="navbar-brand">
    <div class="columns is-mobile is-gapless is-vcentered">
      <div class="column">
        <a <%= baseUrl === '' ? "class=is-active" : ' ' %> href="/">
          <span class="icon is-large">
            <span class="iconify" data-icon="ant-design:home<%= baseUrl !== '' ? '-outline' : '' %>" class=""></span>
          </span>
        </a>
      </div>
      <div class="column">
        <a <%= baseUrl === '/search' ? "class=is-active" : '' %> href="/">
          <span class="icon is-large">
            <span class="iconify" data-icon="<%= baseUrl === '/search' ? 'fa-solid:search' : 'ion:ios-search' %>">
            </span>
          </span>
        </a>
      </div>
      <div class="column">
        <a <%= baseUrl === '/create' ? "class=is-active" : '' %> href="/">
          <span class="icon is-large">
            <span class="iconify"
                  data-icon="<%= baseUrl === '/create' ? 'entypo:squared-plus' : 'fa-regular:plus-square' %>">
            </span>
          </span>
        </a>
      </div>
      <div class="column">
        <a <%= baseUrl === '/notifications' ? "class=is-active" : '' %> href="/notifications">
          <span class="icon is-large">
            <span class="iconify" data-icon="zmdi:notifications<%= baseUrl !== '/notifications' ? '-none' : '' %>">
            </span>
          </span>
        </a>
      </div>
      <div class="column">
        <a <%= baseUrl === '/user' ? "class=is-active" : '' %> href="/user">
          <span class="icon is-large">
            <span class="iconify" data-icon="fa-<%= baseUrl === '/user' ? 'solid' : 'regular' %>:user"></span>
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>