<nav class="navbar is-fixed-top is-spaced">
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-burger"></div>

      <a class="navbar-item" href="/">
        <img src="/images/logo_text.svg" width="122">
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-weight-bold <%= /^\/(events)?$/.test(path) ? 'is-active' : '' %>" href="/">
          Home
        </a>
        <a class="navbar-item has-text-weight-bold <%= path === '/explore' ? 'is-active' : '' %>" href="/explore">
          Explore
        </a>
      </div>

      <div class="navbar-end">
        <a class="navbar-item has-text-weight-bold <%= /\/create\/*/.test(path) ? "is-active" : '' %>" href="/create">
            Create
        </a>
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-primary is-outlined">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar is-fixed-bottom is-hidden-desktop">
  <div class="navbar-brand">
    <div class="columns is-mobile is-gapless has-text-centered">
      <div class="column">
        <a <%= /^\/(events)?$/.test(path) ? "class=is-active" : ' ' %> href="/">
          <span class="icon is-large">
            <span class="iconify" data-icon="ant-design:home<%= /^\/(events)?$/.test(path) ? '' : '-outline' %>"></span>
          </span>
        </a>
      </div>
      <div class="column">
        <a <%= path === '/explore' ? "class=is-active" : '' %> href="/explore">
          <span class="icon is-large">
            <span class="iconify" data-icon="<%= path === '/explore' ? 'fa-solid:search' : 'ion:ios-search' %>"></span>
          </span>
        </a>
      </div>
      <div class="column">
        <a <%= /\/create\/*/.test(path) ? "class=is-active" : '' %> href="/create">
          <span class="icon is-large">
            <span class="iconify"
                  data-icon="<%= /\/create\/*/.test(path) ? 'entypo:squared-plus' : 'fa-regular:plus-square' %>">
            </span>
          </span>
        </a>
      </div>
      <div class="column">
        <a <%= path === '/notifications' ? "class=is-active" : '' %> href="/notifications">
          <span class="icon is-large">
            <span class="iconify" data-icon="zmdi:notifications<%= path !== '/notifications' ? '-none' : '' %>">
            </span>
          </span>
        </a>
      </div>
      <div class="column">
        <a <%= /\/user/.test(path) ? "class=is-active" : '' %> href="/user">
          <span class="icon is-large">
            <span class="iconify" data-icon="fa-<%= /\/user/.test(path) ? 'solid' : 'regular' %>:user"></span>
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>