<nav class="navbar is-fixed-top is-spaced">
  <div class="container">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger"></a>

      <a class="navbar-item" href="/">
        <img src="/images/logo_text.svg" width="122">
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-weight-bold <%= originalUrl === '/' ? 'is-active' : '' %>" href="/">
          Home
        </a>
        <a class="navbar-item has-text-weight-bold <%= originalUrl === '/events' ? 'is-active' : '' %>" href="/events">
          Events
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-primary is-outlined">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar is-fixed-bottom is-hidden-desktop">
  <div class="navbar-brand">
    <div class="columns is-mobile is-gapless is-vcentered">
      <div class="column">
        <a <%= originalUrl === '/' ? "class=is-active" : ' ' %> href="/">
          <span class="icon is-large">
            <span class="iconify" data-icon="ant-design:home<%= originalUrl !== '/' ? '-outline' : '' %>" class=""></span>
          </span>
        </a>
      </div>
      <div class="column">
        <a <%= originalUrl === '/events' ? "class=is-active" : '' %> href="/events">
          <span class="icon is-large">
            <span class="iconify" data-icon="<%= originalUrl === '/events' ? 'fa-solid:search' : 'ion:ios-search' %>">
            </span>
          </span>
        </a>
      </div>
      <div class="column">
        <a <%= /\/create/.test(originalUrl) ? "class=is-active" : '' %> href="/create">
          <span class="icon is-large">
            <span class="iconify"
                  data-icon="<%= /\/create/.test(originalUrl) ? 'entypo:squared-plus' : 'fa-regular:plus-square' %>">
            </span>
          </span>
        </a>
      </div>
      <div class="column">
        <a <%= originalUrl === '/notifications' ? "class=is-active" : '' %> href="/notifications">
          <span class="icon is-large">
            <span class="iconify" data-icon="zmdi:notifications<%= originalUrl !== '/notifications' ? '-none' : '' %>">
            </span>
          </span>
        </a>
      </div>
      <div class="column">
        <a <%= originalUrl === '/user' ? "class=is-active" : '' %> href="/user">
          <span class="icon is-large">
            <span class="iconify" data-icon="fa-<%= originalUrl === '/user' ? 'solid' : 'regular' %>:user"></span>
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>