<%- contentFor('body') %>

<section id="user" class="section is-hidden">
  <div class="container">

    <div id="user-profile" class="card is-paddingless">
      <div id="user-profile-content" class="card-content ">
        <!--User profile image-->
        <div id="user-image">
          <figure class="image is-96x96 container">
            <img id="profile-img" class="is-rounded" src="" alt="User profile picture">
          </figure>
        </div>

        <!--User name and follow / edit profile button-->
        <div id="user-name-follow">
          <p id="user-name" class="subtitle is-4"></p>
          <% if (username_path === `/${username}`) { %>
            <a id="user-follow" class="button is-fullwidth modal-button" data-target="edit-profile">Edit Profile</a>
          <% } else { %>
            <a id="user-follow" class="button is-info is-fullwidth">Follow</a>
          <% } %>
        </div>

        <!--User description-->
        <div id="user-description" class="card-content">
          <p id="fullname" class="title is-6"></p>
          <p id="description" class="subtitle is-spaced is-6"></p>

          <div id="genre" class="tags">
            <p class="title is-6">Favourite genres:</p>
          </div>
        </div>

        <!--User stats-->
        <div id="user-stats" class="card is-shadowless">
          <nav class="card-footer">
            <div class="card-footer-item has-text-centered">
              <p class="subtitle is-6"><strong id="story-count"></strong><br/> stories</p>
            </div>

            <div class="card-footer-item has-text-centered">
              <p class="subtitle is-6 is-spaced"><strong id="follower-count"></strong><br/> followers</p>
            </div>

            <div class="card-footer-item has-text-centered">
              <p class="subtitle is-6"><strong id="following-count"></strong><br/> following</p>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <!--Edit profile modal-->
    <% if (authenticated && username_path === `/${username}`) { %>
      <div id="edit-profile" class="modal">
        <div class="modal-background"></div>

        <div class="modal-card">
          <section class="modal-card-body">
            <form id="edit-profile-form">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Username</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded">
                      <input name="username" class="input" type="text" maxlength="30" required>
                    </p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Fullname</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded">
                      <input name="fullname" class="input" type="text" maxlength="30" required>
                    </p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Description</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded">
                      <textarea name="description" class="textarea has-fixed-size"></textarea>
                    </p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label">
                  <label class="label">Favourite genres</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <select name="genres" placeholder="Maximum 5 favourite genres" multiple></select>
                    </p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label">
                  <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                  <div class="field is-grouped">
                    <div class="control">
                      <button type="submit" class="button is-primary">Save changes</button>
                    </div>
                    <div class="control">
                      <button type="button" class="button is-light button-close">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </section>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
      </div>
    <% } %>

    <!--Tabs-->
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="tabs is-centered">
          <ul>
            <li <%= path === 'user_' ? 'class=is-active' : ''%>>
              <a id="stories-link" href="">Stories</a>
            </li>
            <li <%= path === 'user_events' ? 'class=is-active' : ''%>>
              <a id="events-link" href="">Events</a>
            </li>
            <li <%= path === 'user_going' ? 'class=is-active' : ''%>>
              <a id="going-link" href="">Going</a>
            </li>
            <li <%= path === 'user_interested' ? 'class=is-active' : ''%>>
              <a id="interested-link" href="">Interested</a>
            </li>
            <li <%= path === 'user_went' ? 'class=is-active' : ''%>>
              <a id="went-link" href="">Went</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--Tab content-->
    <% if (path === 'user_') { %>
      <!--User profile page: Stories-->
      <% include ./partials/user_story_columns.ejs %>
    <% } else { %>
      <!--User profile page: user related events-->
      <div class="columns is-multiline event-columns"></div>
    <% } %>

  </div>

</section>
