<%- contentFor('body') %>

<section id="user" class="section">
  <div class="container">

    <div id="user-profile" class="card is-paddingless">
      <div id="user-profile-content" class="card-content ">
        <div class="columns is-mobile">
          <!--User profile image-->
          <div id="user-image" class="column is-5">
            <figure class="image is-96x96 container">
              <img class="is-rounded" src="/images/gakki.jpg" alt="User profile picture">
            </figure>
          </div>

          <!--User name and follow / edit profile button-->
          <div id="user-name-follow" class="column is-7">
            <p id="user-name" class="subtitle is-4">gakki le mari mari mari mari m</p>
            <a id="user-follow" class="button is-info is-fullwidth">Follow</a>
          </div>
        </div>
      </div>

      <!--User description-->
      <div id="user-description" class="card-content">
        <p class="title is-6">Aragaki Yui</p>
        <p class="subtitle is-6">Gakki is kawaii</p>

        <!--<p class="title is-6">Favourite cities:</p>-->
        <!--<p class="title is-6">Favourite genres:</p>-->
      </div>

      <!--User stats-->
      <nav id="user-stats" class="card-footer">
        <div class="card-footer-item has-text-centered">
          <p id="user-stories" class="title is-6">3,456</p>
          <p class="subtitle is-6">stories</p>
        </div>

        <div class="card-footer-item has-text-centered">
          <p id="user-followers" class="title is-6">988k</p>
          <p class="subtitle is-6">followers</p>
        </div>

        <div class="card-footer-item has-text-centered">
          <p id="user-following" class="title is-6">123</p>
          <p class="subtitle is-6">following</p>
        </div>
      </nav>
    </div>

    <!--Tabs-->
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="tabs is-centered">
          <ul>
            <li <%= path === '/user' ? 'class=is-active' : ''%>>
              <a href="/user">Stories</a>
            </li>
            <li <%= path === '/user/events' ? 'class=is-active' : ''%>>
              <a href="/user/events">Events</a>
            </li>
            <li <%= path === '/user/going' ? 'class=is-active' : ''%>>
              <a href="/user/going">Going</a>
            </li>
            <li <%= path === '/user/interested' ? 'class=is-active' : ''%>>
              <a href="/user/interested">Interested</a>
            </li>
            <li <%= path === '/user/attended' ? 'class=is-active' : ''%>>
              <a href="/user/attended">Attended</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <% if (path === '/user') { %>
      <!--User profile page: Stories-->
      <% include ./partials/user_story_columns.ejs %>
    <% } else if (path === '/user/events') { %>

    <% } else if (path === '/user/going') { %>

    <% } else if (path === '/user/interested') { %>

    <% } else { %>

    <% } %>

  </div>

</section>
