<%- contentFor('body') %>

<section class="section">
  <div class="container">

    <div id="user-profile" class="card is-paddingless">
      <div class="card-content">
        <div class="columns is-mobile">
          <div id="user-image" class="column is-5">
            <figure class="image is-96x96 container">
              <img class="is-rounded" src="/images/gakki.jpg">
            </figure>
          </div>

          <div id="user-name-follow" class="column is-7">
            <p id="user-name" class="subtitle is-4">Gakki le mari mari mari</p>
            <a id="user-follow" class="button is-info is-inline-block">Follow</a>
          </div>
        </div>
      </div>

      <div id="user-description" class="card-content">
        <p class="title is-6">Aragaki Yui</p>
        <p class="subtitle is-6">Gakki is kawaii</p>

        <!--<p class="title is-6">Favourite cities:</p>-->
        <!--<p class="title is-6">Favourite genres:</p>-->

      </div>

      <nav id="user-stats" class="card-footer">
        <div class="card-footer-item has-text-centered">
          <p id="user-stories" class="title is-6">3,456</p>
          <p class="subtitle is-6">stories</p>
        </div>

        <div class="card-footer-item has-text-centered">
          <p id="user-followers" class="title is-6">988k</p>
          <p class="subtitle is-6">followers</p>
        </div>

        <div class="card-footer-item has-text-centered">
          <p id="user-following" class="title is-6">123</p>
          <p class="subtitle is-6">following</p>
        </div>
      </nav>


    </div>

    <!--Tabs-->
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="tabs is-centered">
          <ul>
            <li <%= originalUrl === '/user' ? 'class=is-active' : ''%>>
              <a href="/user">Stories</a>
            </li>
            <li <%= originalUrl === '/user/events' ? 'class=is-active' : ''%>>
              <a href="/user/events">Events</a>
            </li>
            <li <%= originalUrl === '/user/going' ? 'class=is-active' : ''%>>
              <a href="/user/going">Going</a>
            </li>
            <li <%= originalUrl === '/user/interested' ? 'class=is-active' : ''%>>
              <a href="/user/interested">Interested</a>
            </li>
            <li <%= originalUrl === '/user/attended' ? 'class=is-active' : ''%>>
              <a href="/user/attended">Attended</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>
